* {
  font-family: "Montserrat", sans-serif;
}

#body {
  background-color: #427e80;
}

.nav {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 40px;
}

.nav > div {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.boton-nav {
  height: 40px;
  margin: 15px;
  background-color: #f0f5e4;
  box-shadow: 3px 3px #154454;
  border-radius: 10px;
}

.link-nav {
  width: 150px;
  margin: 5px;
  color: #154454;
  text-decoration: none;
  font-size: 15px;
}

.seccion-titulo {
  background: url(multimedia/codigo.jpeg) 50% 0 fixed;
  min-height: 530px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-size: cover;
}

.imagenes {
  width: 340px;
}

#titulo-ppal {
  color: white;
  text-align: center;
  background-color: #2d2d2d;
  font-size: 50px;
  text-shadow: 4px 4px black;
}

h2 {
  text-align: center;
  color: #f0f5e4;
  font-size: 40px;
  text-shadow: 2px 2px #154454;
}

.seccion-centro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.recuadro {
  background-color: #f0f5e4;
  border: 4px solid #154454;
  width: 340px;
  height: 370px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.boton-recuadro {
  width: 150px;
  margin: 20px;
  background-color: #427e80;
  box-shadow: 3px 3px #154454;
  border-radius: 10px;
  padding: 10px;
}

.link-recuadro {
  color: #f0f5e4;
  text-decoration: none;
  font-size: 15px;
}

.texto {
  text-align: center;
}

.texto-historia {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  margin-top: 150px;
  align-items: center;
}

.texto-historia > h3 {
  color: #f0f5e4;
  font-size: 40px;
  width: 60%;
  text-align: center;
  text-shadow: 3px 3px #154454;
}

.texto-historia > p {
  width: 40%;
  padding: 20px;
}

.texto-historia-largo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px;
  margin-bottom: 300px;
}

.texto-historia-largo > h3 {
  color: #f0f5e4;
  font-size: 40px;
  width: 30%;
  padding: 10px;
  text-align: center;
  text-shadow: 3px 3px #154454;
}

.texto-historia-largo > p {
  width: 70%;
  padding: 10px;
}

.contenedor-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}

#video {
  padding: 5px;
  background-color: black;
  width: 70%;
}

#barra-video {
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  border-radius: 10px;
  padding: 2px 5px;
}

.botones-video {
  display: flex;
  gap: 20px;
  border-radius: 10px;
}

.boton-video {
  width: 80px;
  background-color: #f0f5e4;
  box-shadow: 3px 3px #154454;
  text-decoration: none;
  padding: 10px;
  color: #154454;
  font-weight: 300;
  border-radius: 10px;
}

#duracion {
  padding-top: 20px;
  padding-right: 10px;
  color: white;
}

.footer {
  height: 80px;
  display: flex;
  flex-direction: row;
  background-color: #1d1d1d;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  color: white;
}

.footer > div {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 300px;
  height: 60px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer > p {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
